@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Open+Sans&family=Outfit:wght@400;700&family=Overpass&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body {
    font-family: "Overpass", Sans-Serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button {
    font-family: inherit;
}

p{
    line-height: 1.8; 
}

.main-container, .thank-you{
    background-color: hsl(213, 19%, 18%);
    padding: 1.5rem;
    border-radius:   0.625rem;
    max-width: 400px; 
}

.main-container img{
    background-color: hsl(213, 20%, 22%);
    padding: 0.5rem;
    border-radius: 50%;
}

.main-container h1{
    color: White;
    margin: 2rem 0 1rem;
}

.main-container p{
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.main-container ul{
    display: flex;   
    flex-wrap: wrap;        
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.main-container ul li button{
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: hsl(213, 20%, 22%);
    color: white;
    padding-top: 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.main-container ul li button:hover {
    background-color: hsl(25, 97%, 53%);
}
 
.main-container ul li button:focus{
    background-color: hsl(217, 12%, 63%);
}

.btn-submit{
    background-color:hsl(25, 97%, 53%);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 30px;
}

.btn-submit:hover{
    background-color: white;
    color:hsl(25, 97%, 53%);
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thank-you img{
    display: block;
    margin: 0 auto;
}

.thank-you p.grey{
    background-color:hsl(213, 20%, 22%);
    border-radius: 30px;
    color:hsl(25, 97%, 53%);
    padding: 0.2rem 1.4rem 0;
    margin-bottom: 2rem;    
}

.thank-you h2{
    color: white;
    margin-bottom: 0.6rem;
}

.thank-you p{
    color:hsl(217, 12%, 63%);
    margin-bottom: 2rem;
}

.hidden{
    display: none;
}
.attribution { 
    font-size: 14px; 
    text-align: center; 
    color: white;
    margin-top: 2rem;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}
 